<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE_CRM_REGRESSION_SUITE" >
    <listeners>
        <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
        </listeners>
 
    <test name="FreeCRMTEST">
    <packages>
    <package name="com.crm.qa.testcases"  />
        <classes>
            <class name="com.crm.qa.testcases.LoginPageTest"></class>
            <class name="com.crm.qa.testcases.HomePageTest"></class>
            <class name="com.crm.qa.testcases.ContactsPageTest"></class>
        </classes>
        </packages>
    </test>
</suite>